p {
    text-align: center;
    margin-top: 20px;
    color: #5A3E36;
}

p a {
    color: #E3B23C;
    text-decoration: none;
    transition: color 0.3s ease;
}

p a:hover {
    text-decoration: underline;
    color: #D49C2E;
}

#login-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #C4B7A8;
    border-radius: 5px;
    background: #FFF;
    color: #5A3E36;
}

#login-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #5A3E36
}

#login-form input[type="text"], #login-form input[type="password"]{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #C4B7A8;
    border-radius: 5px;
    background: #FFF;
    color: #5A3E36;
    transition: border-color 0.3s ease;
} 

#login-form input[type="text"]:focus, #login-form input[type="password"]:focus {
    border-color: #E3B23C;
    outline: none;
}

#login-form button {
    width: 100%;
    background: #E3B23C;
    color: #5A3E36;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

#login-form button:hover {
    background: #D49C2E;
}

#login-form button:active {
    background: #F0C86E;
}

#login-error {
    color: #D9534F;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #D9534F;
    border-radius: 5px;
    background: #FFE6E6;
    text-align: center;
}

.hidden {
    display: none;
}

footer p {
    color: #F5F1E3;
    margin-top: 0px;
}