#user-info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.pfp img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
}

.user-details h2 {
    margin-bottom: 20px;
}

.user-stats-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
}

.user-statistic {
    text-align: center;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.user-statistic h3 {
    margin-bottom: 10px;
}

#user-reviews {
    margin-bottom: 20px;
}

.user-review-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.user-review-card {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
}

.user-review-card h3 {
    margin-bottom: 10px;
}

.user-review-card .rating {
    color: #f39c12;
}

.user-review-card footer {
    margin-top: 10px;
    font-size: 0.9em;
    color: #666;
}